# This project aims to analyze 23 types of cryptocurrency via statistics and visualizations. This is the first step of the project, data wrangling, proposing to obtain desired format for visualization and computations.

## The dataset is retrieved from Kaggle and the usability is already high enough for analysis. Therefore, the expectation here is to concatenate 23 files into 1 single dataframe and trim it to desired format.j

In [1]:
import glob
import os
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()

%matplotlib inline

# Import DataFrame

In [2]:
# cwd = os.getcwd() # get fold path that contains all csv files
# files = glob.glob(os.path.join(cwd,'*.csv')) # retrieve 23 paths for 23 csv files and arrange them into a list
# df_each = (pd.read_csv(file) for file in files)
# df_integrated = pd.concat(df_each, ignore_index=True)
# df_integrated

# Integrate 23 csv files into 1 single pandas with a one-liner
df_integrated = pd.concat(map(pd.read_csv, glob.glob(os.path.join('','*.csv')))) # use wildcard for file names
df_integrated

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Aave,AAVE,2020-10-05 23:59:59,55.112358,49.787900,52.675035,53.219243,0.000000e+00,8.912813e+07
1,2,Aave,AAVE,2020-10-06 23:59:59,53.402270,40.734578,53.291969,42.401599,5.830915e+05,7.101144e+07
2,3,Aave,AAVE,2020-10-07 23:59:59,42.408314,35.970690,42.399947,40.083976,6.828342e+05,6.713004e+07
3,4,Aave,AAVE,2020-10-08 23:59:59,44.902511,36.696057,39.885262,43.764463,1.658817e+06,2.202651e+08
4,5,Aave,AAVE,2020-10-09 23:59:59,47.569533,43.291776,43.764463,46.817744,8.155377e+05,2.356322e+08
...,...,...,...,...,...,...,...,...,...,...
2888,2889,XRP,XRP,2021-07-02 23:59:59,0.667287,0.634726,0.659890,0.656763,2.061607e+09,3.030759e+10
2889,2890,XRP,XRP,2021-07-03 23:59:59,0.683677,0.644653,0.655639,0.672888,1.872820e+09,3.105172e+10
2890,2891,XRP,XRP,2021-07-04 23:59:59,0.707783,0.665802,0.673218,0.694945,1.885242e+09,3.206960e+10
2891,2892,XRP,XRP,2021-07-05 23:59:59,0.695653,0.648492,0.695653,0.654300,2.076373e+09,3.019395e+10
2892,2893,XRP,XRP,2021-07-06 23:59:59,0.679923,0.652676,0.653055,0.665402,1.938959e+09,3.072284e+10

In [3]:
names = len(df_integrated['Name'].unique())
print(f'There are {names} types of cryptocurrencies in the integrated dataframe')

There are 23 types of cryptocurrencies in the integrated dataframe

# Data Wrangling/Reduction

In [4]:
df_integrated.dtypes

SNo            int64
Name          object
Symbol        object
Date          object
High         float64
Low          float64
Open         float64
Close        float64
Volume       float64
Marketcap    float64
dtype: object

In [5]:
df_integrated['SNo'].value_counts()

136     23
254     23
27      23
103     23
71      23
        ..
2960     2
2975     2
2969     2
2984     2
2990     2
Name: SNo, Length: 2991, dtype: int64

In [6]:
df_integrated[['Symbol','Name']].value_counts()

Symbol  Name
LTC     Litecoin           2991
BTC     Bitcoin            2991
XRP     XRP                2893
DOGE    Dogecoin           2760
XMR     Monero             2602
XLM     Stellar            2527
USDT    Tether             2318
XEM     NEM                2288
ETH     Ethereum           2160
MIOTA   IOTA               1484
EOS     EOS                1466
BNB     Binance Coin       1442
TRX     TRON               1392
LINK    Chainlink          1385
ADA     Cardano            1374
USDC    USD Coin           1002
CRO     Crypto.com Coin     935
WBTC    Wrapped Bitcoin     888
ATOM    Cosmos              845
SOL     Solana              452
DOT     Polkadot            320
UNI     Uniswap             292
AAVE    Aave                275
dtype: int64

After a preliminary exmaination on dataframe:
*   Data type for **Date** is incorrect. <br>
*   **SNo** is repetitive. 
*   Cryptocurrencies' **Names** and **Symbols** are exchangeable. <br>

Therefore, 
* Remove SNo,Symbol to reduce memory usage, 
* Correct data type for Date.

In [7]:
df_integrated.drop(['SNo','Symbol'],axis=1,inplace = True)
df_integrated.reset_index(drop=True,inplace=True)
df_integrated['Date'] = pd.to_datetime(df_integrated['Date']).dt.normalize() # convert to datetime64. dt.date returns datetime.date.
df_integrated.rename(columns = {'Marketcap': 'Market_Capitalization'},inplace= True)
print('Type of Date column is corrected to',df_integrated['Date'].dtypes,'\n')
df_integrated

Type of Date column is corrected to datetime64[ns]

,Name,Date,High,Low,Open,Close,Volume,Market_Capitalization
0,Aave,2020-10-05,55.112358,49.787900,52.675035,53.219243,0.000000e+00,8.912813e+07
1,Aave,2020-10-06,53.402270,40.734578,53.291969,42.401599,5.830915e+05,7.101144e+07
2,Aave,2020-10-07,42.408314,35.970690,42.399947,40.083976,6.828342e+05,6.713004e+07
3,Aave,2020-10-08,44.902511,36.696057,39.885262,43.764463,1.658817e+06,2.202651e+08
4,Aave,2020-10-09,47.569533,43.291776,43.764463,46.817744,8.155377e+05,2.356322e+08
...,...,...,...,...,...,...,...,...
37077,XRP,2021-07-02,0.667287,0.634726,0.659890,0.656763,2.061607e+09,3.030759e+10
37078,XRP,2021-07-03,0.683677,0.644653,0.655639,0.672888,1.872820e+09,3.105172e+10
37079,XRP,2021-07-04,0.707783,0.665802,0.673218,0.694945,1.885242e+09,3.206960e+10
37080,XRP,2021-07-05,0.695653,0.648492,0.695653,0.654300,2.076373e+09,3.019395e+10
37081,XRP,2021-07-06,0.679923,0.652676,0.653055,0.665402,1.938959e+09,3.072284e+10

Now, we have a desired dataframe for proper visualization and analysis. Export as a csv file.

In [8]:
df_integrated.to_csv('currency_edited.csv',index = False)